.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
  margin-top: 50px;
  padding: 20px 10px;
  border-bottom: var(--border-bottom);
}

.alt-header__column {
  display: flex;
  align-items: center;
}

.alt-header__column__arrow {
  display: block;
  margin-right: 40px;
}

.alt-header__column h1 {
  font-size: 50px;
  font-weight: 600;
}
