.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px;
  background-color: rgb(253, 128, 191);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  color: black;
}

@keyframes BtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__item {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  animation: BtnAnimation 0.5s ease-in-out forwards;
}

.nav__item:nth-child(2) {
  animation-delay: 0.3s;
}

.nav__item:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes MsgAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.numOfMsg {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.numOfMsg--onComment {
  position: absolute;
  right: -15px;
  top: -10px;
  animation: MsgAnimation 3s ease-in-out infinite;
}
