#no-landscape {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  top: 0;
  left: 0;
}

@media screen and (orientation: portrait) {
  #no-landscape {
    display: none;
  }
}
